*{
    box-sizing: border-box;
}
body{
    font-family: 'Inria Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: rgba(25, 29, 32, 0.95);

}
.container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
/*had quite some issues with letting the menu panel and
foot panel have relatively fixed width while reducing screen size
Initially, I just set the flex of both to 1, but what I need to do is give them a fixed
width using flex-basis and have 0 shrink or a zero pointer, for very small shrink rate*/
.menu-panel{
  
    flex: 0 0.2 18em;
    padding: 0.8em;
    border-right: 1px solid rgba(25, 29, 32, 0.1);
    overflow: hidden;

}
.footpanel{
    flex: 0 0.2 18em;
    padding: 0.8em;
    border-left: 1px solid rgba(25, 29, 32, 0.1);
    overflow: hidden;
}
.footpanel a{
    text-decoration: none;
    color: rgba(25, 29, 32, 0.95);
}
#logo_and_text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo_and_text img{
    width: 25px;
    height: 25px;
    margin-right: 1em;
}
#logotext_top{
    color: rgba(199, 62, 89, 0.9);
}
#logotext_bottom{
    font-size: 1.2em;
    color: black;
}
#menu-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;

}
#connector{
    padding: 1em;
    background-color: black;
    color: #ffffff;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0.2em;
    outline: none;
    border: none;
    width: 100%;
}
#menu_nav{
    margin-top: 3em;
}
#navlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-bottom: 00.2em;

}
#navlink img{
    width: 1em;
    height: 1em;
}
#navlink:hover, #lightcontrol:hover,.feedgov:hover,#socialitem:hover{
    background-color: rgba(25, 29, 32, 0.05);
    border-radius: 0.3em;
}
.active{
    background-color: rgba(25, 29, 32, 0.2);
    border-radius: 0.3em;
}
#nav_logo{
    display: flex;
    flex: 0.5;
}
#nav_text{
    padding-left: 0.5em;
    flex: 3;
}
#foot-part{
    margin-top: 3em;
}
#lightcontrol{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.7em ;
    padding-bottom: 0.7em;
    padding-left: 0.3em;
    padding-right:0.3em;
    margin-top: 0.7em;
    cursor: pointer;
}
#siteversion{
    font-family: monospace;
    color: rgba(25, 29, 32, 0.5);
}
#controltext{
    display: flex;
    flex-direction: row;
}
#controltext img{
  
    width: 15px;
    height: 15px;
    margin-right: 1em;
}
#lightswitch{
    width: 24px;
    height: 20px;
}
#hr_line{
    margin-top: 1.5em;
    border:0.5px solid rgba(25, 29, 32, 0.2);
    margin-bottom: 2em;

}
#foot-part a{
    text-decoration: none;
    color: rgba(25, 29, 32, 0.95);

}
.feedgov{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.1em;
    align-items: center;
    padding: 0.5em;
}
#feedgov_left{
    display: flex;
    flex-direction: row;
}
#feedgov_text{
    margin-left: 1em;
}
#arrow45{
    width: 15px;
    height: 15px;
}
#socials{
    display: flex;
    flex: 1;
    align-items: center;
}
#socialitem{
    padding: 0.5em;
    margin-right: 1em;
}
#socialitem img{
    padding: 0.2em;
    background-color: rgba(25, 29, 32, 0.5);
    border-radius: 50%;
}


.operations-panel{
    flex: 3.2;
    padding: 2em 1em 1em 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.operations-panel::-webkit-scrollbar {
    display: none; /* This will hide all the scrollbars on this section */
  }
  
  
#swapheader{
    font-size: 1.2em;
    font-weight: bold;
}
#swap_p{
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
}
#swap_box{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#firstcoin,#coinexchange,#secondcoin{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
}
#firstcoin{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: solid 0.5px grey ;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 0.5em;
}
#secondcoin{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top: solid 0.5px grey ;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 0.5em;
}
#swapcoin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(25, 29, 32, 0.5);
    font-size: 0.8em;

}
#coinselect,#selectcoin{
    flex: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 4em;
    padding: 0.3em;
    justify-content: space-between;
}
#coininfo_img{
    display: flex;
    align-items: center;
    border: solid 1px grey;
    border-radius: 50%;
    padding: 0.05em;
    height: 2em;
    width: 2em;
}
#coinselect img, #selectcoin img, #slippage img{
    width: 18px;
    height: 18px;
}
#coinselect:hover, #selectcoin:hover{
    background-color: rgba(25, 29, 32, 0.1);
    border-radius: 0.5em;

}
#firstcoin:hover{
    background-color: rgba(25, 29, 32, 0.3);


}
#coininfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nameandbalance{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

#coinname{
    font-size: 1.4em;
    color: rgba(25, 29, 32, 0.7);

}
#swapvalue{
    flex: 80%;
    padding: 1em;

}
#coinvalue{
    flex: 80%;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4em;
}
#swapvalue input{

    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1.4em;
    float: right;
    text-align: end;

}
#exchangeicon{
    padding: 0.5em;
}
#exchangeicon img{
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    padding: 0.05em;
    cursor: pointer;
}
#slipandfee{
    flex: 4;
    display: flex;
    flex-direction: row;
}
#swapfee{
    margin-top: 0.7em;
    flex: 3;
    width: 100%;
    background-color: #E8E8E8;
    padding: 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#slippage{
    margin-top: 0.7em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 0 10em;
    background-color: #E8E8E8;
    padding: 1em;
    border-right: solid 1px gray;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

}

#swapbtn{
    flex: 1;
    margin-top: 0.7em;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgba(25, 29, 32, 0.5);
    margin-left: 1em;
    border-radius: 0.5em;
    color: white;

}
#transferblock, #liquidityblock{
    color: black;
}
#transfertextheader, #liquidityheader{
    color: black;
    font-size: 1.2em;
}
#transfertextpara, #liquiditypara{
    margin-top: 2em;
    color: rgba(25, 29, 32, 0.8);

}
#userassets{
    margin-top: 2.5em;
}
#theassets{
    margin-top: 1em;
}
#othertokenheader{
    margin-top: 2em;
    margin-bottom: 1.5em;
}
#thecoins{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    margin-top: 0.5em;
    background-color: rgba(25, 29, 32, 0.1);
    border-radius: 0.5em;
}
#assetinformation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#depositlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
    cursor: pointer;
    padding: 0.4em;

}
#depositlink:hover{
    background-color: rgba(25, 29, 32, 0.1);
    border-radius: 0.2em;
}
#depositlink img{
    height: 1em;
    width: 1em;
    margin-left: 1em;
}
#assetlogo{
    height: 2em;
    width: 2em;
}
#assetname{
    margin-left: 1em;
    font-size: 1.2em;
}
#assetfooter{
    color: rgba(25, 29, 32, 0.1);
    font-size: 1em;
    padding: 2em 0em;
    border-bottom: solid 1px rgba(25, 29, 32, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#liquidityassets{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5em;
    
}
#liquiditybond{
    width: 49%;
    background-color: rgba(25, 29, 32, 0.1);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;

}
#liquiditybond:hover{
    background-color: rgba(25, 29, 32, 0.2);
}
#liquiditybondtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    border-bottom: solid 1px rgba(25, 29, 32, 0.1);
}
#liquiditybondbottom{
    color: rgba(25, 29, 32, 0.7);
    display: flex;
    padding: 1em;
    flex-direction: column;
    padding: 2em 1.3em;

}
#liquiditybottomaprandbond{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
}
#bondimages img{
    height: 2em;
    width: 2em;
}
#bondnames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#thedot{
    display: flex;
    align-items: center;
}
#liquiditybondbottomheader, #userbondtext, #aprtext{
    font-family: monospace;
}
#liquiditybondbottomheader{
    font-size: 1.2em;
}
#userbondvalue, #aprvalue, #liquiditybottomvalue{
    font-size: 1.3em;
    color: rgba(25, 29, 32, 0.8);
}

.hidepanel{
    display: none;
}

    



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#coinbalance{
    font-size: 1em;
}


#betanote{
    display: flex;
    flex-direction: row;
    margin-top: 1em;

}
#betanote img{
    width: 18px;
    height: 18px;
    margin-right: 1.5em;
}
#otherbetanote{
    margin-top: 2em;
    font-size: 1em;
}
#report{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    background-color: rgba(25, 29, 32, 0.1);
    border-radius: 0.2em;
}
#dropdownMenu{
    display: none;
}
#close{
    display: none;
}
#dropdownMenu.open #close{
    display: block;
    background-color: rgba(0,0,0,0.1) !important;
}
#dropdownMenu.open button{
    display: none;
}
#menu-part.openmenu{
    background-color: rgba(0,0,0,0.1);
    display: flex;
}
#menu-part.openmenu button{
    padding: 0.75em;   
    font-size: 1em;
}

.container#menu-part{
    transition: all 0.3s ease-in-out 0s;
}



@media screen and (max-width:1050px) {
     .footpanel{
         display: none;
     }
     #coinselect,#selectcoin{
        flex: 100%;

    }
    #coinselect,#selectcoin{
        flex: 100%;
   
    }
    #swapcoin{
        display: flex;
        flex-direction: column;
    }
    #slipandfee{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 100%;
    }
    #swapbtn, #slippage,#slipperce{
        flex: 100%;
        margin-left: 0px;
        border: none;
        border-radius: 0.5em;
    }
    #liquiditybond{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    body{
        margin: auto;
        width: 100vw;
        height: 100vh;
        font-size: 13px;
    }
    .menu-panel{
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
    }
    #menu-part,#foot-part{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 1em;
    }

   
    .operations-panel{
        padding: 0.5em;
    }
    #dropdownMenu{
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        background-color: black;
        color: white;
        font-weight: 500;
        justify-content: space-around;
        align-items: center;
        height: 2.5em;
        font-size: 1em;
        font-weight: 500;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    #dropdownMenu button{
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        background-color: black;
        color: white;
        font-weight: 500;
        justify-content: space-around;
        align-items: center;
        width: 6em;
        height: 2.5em;
        font-size: 1em;
        font-weight: 500;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }
    #dropdownMenu img{
        width: 1em;
        height: 1em;
    }

    
    
}

